body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: lightblue; /* default */
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
.buttons :hover{
  background-color: aquamarine;     
  cursor: pointer;             
}
.emoji {
    font-size: 80px;
    margin-top: 30px;
}